* {
    font-family: 'Poppins', sans-serif;
}

.header {
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.nav-title {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

nav ul {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
}

/* banner style start */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 50px 0 100px;

}

.banner-title {
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 0;
}

.banner-description {
    color: #3A3A3A;
    font-size: 16px;
    padding-right: 190px;
    margin-top: 0;

}

.banner .btn {
    background: #E02C6D;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 16px;
}
.banner img{
    width: 475px;
    height: 475px;
    background-image: url('images/Circle\ design.svg');
   
    
}

/* logos style */
.logos-container {
    padding: 0 100px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;

    margin-top: 15px;
}

/* products collection design */
.collection {
    padding: 0 100px;
    margin-top: 90px;
    text-align: center;
   
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
   
    

}

.collection-title {
    color: #3A3A3A;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}
.product{
    padding-top:5px;
    padding-right: 0;
    padding-left: 20px;
    text-align: left;
    border-radius: 10px;
    background: #FFFFFF;
}
.product img {
    height: 256px;
    width: 300px;

}

.product .product-title {
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    margin-top: 0;
    margin-bottom: 0;
}

.product .product-price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}


.fa-star {
    width: 11.07px;
    height: 10.32px;
}

.fa-star.filled {
    color: #FB8200;
}

.fa-star.empty {}

span {
    padding-left: 10px;
}

.info-description {
    color: #787885;
    font-size: 14px;
    margin: 0;
    padding-right: 15px;
}
.see-more{
    text-align: end;
    margin-top: 20px;
    
}
.see-more a{
    color: red;
    text-decoration: none;
}
/* feature part design */
.feature-container{
    margin-top: 50px;
    margin-bottom: 60px;
}
.feature-product{
    display: flex;
    justify-content:center;
    gap:25px;
    padding: 0 20px;
    margin-left: 70px;
    margin-right: 80px;

}
.feature-title{
    color: #0A0826;
    font-size: 38px;
    margin-right:  5px;
    margin-bottom: 0;
}
.feature-description{
    color: #6C6C6C;
    margin-top: 0;
}
.btn2{
    background: #E02C6D;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 15px;
}
/* footer part */
.footer-container{
    background-color: #0A0826;
   
}
.footer{
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-title{
    font-size: 24px;
    padding-bottom:0;
    margin-bottom: 0;
}
.footer-description{
    font-size: 14px;
   margin: 0 400px;
   padding: 0 85px;
}
.icons{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}